modules = ["php-8.2"]
run = "composer run test"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "composer run test"]

[workflows]
runButton = "Run Tests"

[[workflows.workflow]]
name = "Run Tests"
author = 6513136
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "vendor/bin/phpunit --no-coverage"
